.idea/
*.log
*.tmp
.comands.txt
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.env

*.sqlite3

media/avatars/*
!media/avatars/default-avatar.png

media/publications/*
!media/publications/roon_s.png

media/files/*
!media/files/chapter.png