{% extends 'social/base.html' %}

{% block title %}
    Налаштування чату
{% endblock title %}

{% block content %}
<div class="max-w-3xl mx-auto complain-card p-8 rounded-2xl shadow-lg">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Змінити чат</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-6">
            {{ form.group_chat_name }}
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Учасники</h2>

            {% for member in chat_group.members.all %}
            <div class="flex justify-between items-center py-3 border-b">
                <div class="flex items-center gap-4">
                    <img class="w-12 h-12 rounded-full object-cover" src="{{ member.profile.get_avatar_url }}" alt="{{ member.username }}">
                    <div>
                        <p class="font-semibold text-gray-800">{{ member.profile.uusername }}</p>
                        <p class="text-sm text-gray-500">{{ member.username }}</p>
                    </div>
                </div>

                {% if member != chat_group.admin %}
                <label class="inline-block relative cursor-pointer">
                    <input type="checkbox" name="remove_members" value="{{ member.id }}" class="appearance-none peer w-5 h-5 rounded-md border border-gray-300 bg-white" />
                    <span
                      class="absolute top-0 left-0 w-5 h-5 rounded-md border border-gray-300 bg-white
                             peer-checked:bg-red-500 peer-checked:border-red-500
                             transition-all duration-150
                             after:content-[''] after:absolute after:top-[5px] after:left-[11px] after:w-2 after:h-4 after:border-b-2 after:border-r-2 after:border-white after:rotate-45 after:hidden
                             peer-checked:after:block"
                    ></span>
                </label>


                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="flex justify-between items-center">
            <button type="submit" name="update_group" class="px-6 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-xl transition-all">Оновити</button>

            <a href="{% url 'chatroom_delete' chat_group.group_name %}" class="text-sm text-red-400 hover:text-red-600 transition-all">Видалити чат</a>
        </div>
    </form>

    <!-- Форма приглашения -->
    <div class="mb-6 mt-10">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">Запросити користувача</h2>

        <form method="post" class="bg-white p-6 rounded-2xl shadow-md w-full max-w-md space-y-4">
            {% csrf_token %}
            <label for="{{ invite_form.user.id_for_label }}" class="block text-sm font-medium text-gray-700">
                Выберите пользователя
            </label>
            {{ invite_form.user }}

            <button
                type="submit"
                name="invite_user"
                class="w-full py-2 px-4 bg-green-600 hover:bg-green-700 text-white font-semibold rounded-xl shadow-sm transition-all duration-200"
            >
                Запросити
            </button>
        </form>
    </div>

</div>
{% endblock content %}
