{% load extras %}
{% if message.body %}
    {% if message.body|is_url %}
        <a href="{{ message.body }}" target="_blank" rel="noopener noreferrer"
        class="text-blue-600 hover:underline break-all max-w-full inline-block">
            {{ message.body }}
        </a>
    {% else %}
        <span class="break-words max-w-full inline-block">{{ message.body }}</span>
    {% endif %}
{% elif message.file %}
    {% if message.is_image %}
        <img class="min-w-8 sm:max-w-xs md:max-w-sm rounded-2xl overflow-hidden shadow-md" src="{{ message.file.url }}">
    {% else %}
        &#x1F4CE; <a class="cursor-pointer italic hover:underline" href="{{ message.file.url }}" download>{{ message.filename }}</a>
    {% endif %}
{% endif %}