{% extends 'social/base.html' %}

{% block title %}Вхід{% endblock %}

{% block content %}
<section>    
    <form method="POST">
        {% csrf_token %}
        <h1>Вхід</h1>
        <div class="inputbox">
            <ion-icon name="person-outline" style="color: black;"></ion-icon>
            {{ form.username }}
            <label for="id_username">Юзернейм</label>
        </div>
        <div class="inputbox password-container">
            <ion-icon name="lock-closed-outline" style="color: black;"></ion-icon>
            {{ form.password }}
            <label for="id_password">Пароль:</label><br>
            <span class="toggle-password" data-target="id_password">
                <i class="fas fa-eye"></i>
            </span>
        </div>
        <button type="submit" class="btn-my m-3">Увійти</button>
        <div class="register">
            <p>Нема акаунта? <a href="{% url 'register'%}">Реєстрація</a></p>
        </div>
    </form>
    {% if form.errors %}
        <ul class="error-list">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
        Swal.fire({
            title: '{{ message.tags|default:"Помилка"|capfirst }}',
            text: '{{ message }}',
            icon: '{% if "error" in message.tags %}error{% elif "success" in message.tags %}success{% else %}info{% endif %}',
            showCancelButton: true,
            confirmButtonText: '{% if "success" in message.tags %}Перейти до профілю{% else %}OK{% endif %}',
            cancelButtonText: 'Відміна',
        }).then((result) => {
            {% if "success" in message.tags %}
            if (result.isConfirmed) {
                window.location.href = "{% url 'account' %}";
            }
            {% endif %}
        });
        {% endfor %}

        document.querySelectorAll('.toggle-password').forEach(toggle => {
            const targetId = toggle.getAttribute('data-target');
            const passwordField = document.querySelector(`#${targetId}`);
            if (passwordField) {
                toggle.addEventListener('click', function () {
                    const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordField.setAttribute('type', type);
                    this.querySelector('i').classList.toggle('fa-eye');
                    this.querySelector('i').classList.toggle('fa-eye-slash');
                });
            }
        });
    });
</script>
{% endblock %}