{% extends 'social/base.html' %}

{% block title %}
    {% if profile.username %}
        {{ profile.username }}
    {% endif %}
{% endblock title %}

{% block content %}
<div class="profile-container profile-acc">
    {% if profile %}
        <div class="profile-header" style="display: flex; align-items: center; gap: 40px;">
            <div class="profile-image">
                {% if profile.profile.avatar %}
                    <img src="{{ profile.profile.avatar.url }}" alt="Аватар" class="avatar-profile">
                {% else %}
                    <img src="/media/avatars/default-avatar.png" alt="Аватар по умолчанию" class="avatar-profile">
                {% endif %}

            </div>
            <div class="profile-info">
                <h2 style="font-size: 28px;">{{ profile.username }}</h2>
                <div style="display: flex; gap: 20px; margin: 10px 0;">
                    <span>{{ profile.posts.count }} постів</span>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#followersModal">{{ profile.profile.followers_count }} підписників</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#followingModal">{{ profile.profile.following_count }} підписок</button>

                </div>
                {% if profile.profile.bio == None %}
                    <p style="max-width: 400px;"></p>
                {% else %}
                    <p style="max-width: 400px;">{{ profile.profile.bio }}</p>
                {% endif %}

                {% if user != profile %}
                    <form method="post" action="{% url 'follow' profile.username %}">
                        {% csrf_token %}
                        {% if user in profile.profile.followers.all %}
                            <button type="submit" class="btn unsubscribe-btn"><ion-icon name="person-remove-outline"></ion-icon> Відписатись</button>
                        {% else %}
                            <button type="submit" class="btn subscribe-btn"><ion-icon name="person-add-outline"></ion-icon> Підписатись</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>

        <hr style="margin: 30px 0; border-color: gray;">

        <div class="no-posts" style="text-align: center; padding: 50px;">
            <p style="font-size: 18px;">Поділіться фото</p>
            <p>Фото, якими ви поділились, будуть з'являтись у вашому профілі.</p>
        </div>

    {% endif %}
</div>


<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 300px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="followersModalLabel">Підписники</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
        </div>
        <div class="modal-body">
            {% for follower in followers %}
            <div style="display: flex; align-items: center; gap: 15px; margin-bottom: 15px;">
              <div style="flex-shrink: 0;">
                {% if follower.profile.avatar %}
                  <img src="{{ follower.profile.avatar.url }}" alt="Аватар" style="width: 50px; height: 50px; border-radius: 50%;">
                {% else %}
                  <img src="/media/avatars/default-avatar.png" alt="Аватар по умолчанию" style="width: 50px; height: 50px; border-radius: 50%;">
                {% endif %}
              </div>
              <div>
                <p style="margin: 0;"><a href="{% url 'profile' username=follower.username %}">{{ follower.username }}</a></p>
                <p style="margin: 0; font-size: 0.9em; color: #666;">{{ follower.email }}</p>
              </div>
            </div>
          {% empty %}
            <p>Немає підписників</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 300px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="followingModalLabel">Підписки</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
        </div>
        <div class="modal-body">
            {% for followed in following %}
            <div style="display: flex; align-items: center; gap: 15px; margin-bottom: 15px;">
              <div style="flex-shrink: 0;">
                {% if followed.profile.avatar %}
                  <img src="{{ followed.profile.avatar.url }}" alt="Аватар" style="width: 50px; height: 50px; border-radius: 50%;">
                {% else %}
                  <img src="/media/avatars/default-avatar.png" alt="Аватар по умолчанию" style="width: 50px; height: 50px; border-radius: 50%;">
                {% endif %}
              </div>
              <div>
                <p style="margin: 0;"><a href="{% url 'profile' username=followed.username %}">{{ followed.username }}</a></p>
                <p style="margin: 0; font-size: 0.9em; color: #666;">{{ followed.email }}</p>
              </div>
            </div>
          {% empty %}
            <p>Немає підписок</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
